@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2>Se ha producido un error al procesar su solicitud.</h2>

<p>Por favor, vuelva a intentarlo más tarde o póngase en contacto con el soporte técnico.</p>



