@{
    ViewData["Title"] = "Home Page";
    var isLogin = Context.Session != null && Context.Session.Keys.Any();
    var usuario = Context.Session.GetString("NombreDeUsuario");
}

<h2>Bienvenido/a @if(isLogin){@usuario;} </h2>
