@{
    ViewData["Title"] = "Tareas";
    var rol = Context.Session.GetString("Rol");
}
@using TP10.ViewModels
@model ListarTareasViewModel

@if(TempData["MensajeDeAlerta"] != null)
{
    <script>
        alert('@TempData["MensajeDeAlerta"]');
    </script>
}

<div class="container">
    <h2 class="text-center mt-4 mb-4">Listado de las tareas</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="CreateTarea" class="btn btn-success mb-3">Crear Nueva Tarea</a>

            <form asp-controller="Tarea" asp-action="SeleccionarTablero" method="post">
                <div class="form-group">
                    <label asp-for="@Model.IdTablero">Tablero</label>
                    <select asp-for="@Model.IdTablero" asp-items="new SelectList(Model.Tableros, nameof(Tablero.IdTablero), nameof(Tablero.Nombre))" class="form-control">
                        <option value="">Seleccionar Tablero</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Seleccionar</button>
            </form>

            @if(Context.Session.GetString("Rol") == Roles.Administrador.ToString())
            {
                <a asp-controller="Tarea" asp-action="TareasSinAsignar" class="btn btn-info mt-3">Tareas sin asignar</a>
            }
        </div>
    </div>
</div>
